body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.main{
    background: rgba(0, 0, 0, 0.3) url("https://wallpaperaccess.com/full/228499.jpg") no-repeat center /cover;
}

.header{
    height: 70px;
    background-color: #360036;
    color:#F5D6D7;
    padding: 0 30px;
    display: flex;
    align-items: center;
}
.header h1{
    margin: 0;
}

.photo{
    width: 350px;
    height: 350px;
    overflow: hidden;/*отрезает часть фото если родитель меньше ребенка*/
    border-radius: 100%;
    margin-right: 100px;
    position: relative;
    z-index: 2;
    margin-top: -30px;
}

.photo img{
    width: 350px;
}

.about{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(70vh - 70px);
}

.about::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
.info{
    position: relative;
    z-index: 2;
    color: aqua;
}

.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
}

.form{
    text-align: center;
}
.input_wrapper{
    padding: 20px;
    border: 4px dashed white;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.btn{
    padding: 10px 10px;
    border: none;
    background-color: #1c1836;
    border-radius: 15%;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-like{
}

.textarea{
    resize: none;
    padding: 10px;
    font-size: 16px;
    background: rgba(0 , 0 , 0 , 0.1) ;
    color: white;
    font-weight: bold;
}

.textarea:focus{
    outline: none;
}